/*
  File origin: VS1LAB A1b  

  CSS style is BEM. Classes used for CSS, IDs for JavaScript querying (future use).
  CSS variables used for clarity and themability (e.g. through SSR). 
  Inherited box sizing used for ease of including 3rd party content-box components.
*/

/* Global styling */

html {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;

  /* This approach prevents issues with 3rd party content-box components */
  box-sizing: inherit;
}


/* Variables (example: see declaration for "a" below) */

:root {
  --link-color: #00B7FF;
  --background-color: #efefef;
  --border-color: #cdcdcd;
  --gray-color: #666;
}


/* HTML element styles */

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a {
  color: var(--link-color);
}

/* ### TODO ### Styles for other HTML elements */

/* ... your code here ... */


/* Grid styles (no changes required) */

.row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex: 1;
}

.col-1 {
  width: calc(8.33% - 1rem);
}

.col-2 {
  width: calc(16.66% - 1rem);
}

.col-3 {
  width: calc(25% - 1rem);
}

.col-4 {
  width: calc(33.33% - 1rem);
}

.col-5 {
  width: calc(41.66% - 1rem);
}

.col-6 {
  width: calc(50% - 1rem);
}

.col-7 {
  width: calc(58.33% - 1rem);
}

.col-8 {
  width: calc(66.66% - 1rem);
}

.col-9 {
  width: calc(75% - 1rem);
}

.col-10 {
  width: calc(83.33% - 1rem);
}

.col-11 {
  width: calc(91.66% - 1rem);
}

.col-12 {
  width: calc(100% - 1rem);
}


/* ### TODO ### Styles for Header Component */

.header {
  background-color: #eeeeee;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 130px;
  padding-left: 40px;
  padding-right: 40px;
  border: 1px solid var(--border-color);
}

.header__image {
  width: 50px;
}


/* ### TODO ### Styles for Main Component */

.main {
  background-color: white;
  display: flex;
  padding: 50px;
}

/* ### TODO ### Styles for Tagging component */

.tagging {
  display: block;
}

#tag-form {
  padding-right: 20px;
}

#tag-fieldset {
  margin-top: 10px;
  padding: 20px;
  display: grid;
}

#tag-fieldset label:not(legend) {
  padding-bottom: 5px;
}

#tag-fieldset legend {
  font-weight: bold;
}

#tag-fieldset #tag-latitude,#tag-longitude {
  background-color: var(--background-color);
  border: 1px solid var(--gray-color);
}

#tag-fieldset input {
  padding: 5px;
}

#tag-fieldset #tag-submit {
  font-weight: bold;
}

#tag-fieldset input:not(#tag-submit) {
  margin-bottom: 15px;
}


/* ### TODO ### Styles for Discovery component */

.discovery {
  display: block;
  padding-left: 20px;
}

.discovery__wrapper {
  display: flex;
}

.discovery__search {
  margin-bottom: 40px;
}

#discovery-fieldset {
  margin-top: 10px;
  padding: 20px;
  display: grid;
}

#discovery-fieldset input {
  padding: 5px;
  width: 25%;
}

#discovery-fieldset input:not(:last-of-type) {
  margin-bottom: 15px;
}

#discovery-fieldset input:last-of-type {
  color: var(--gray-color);
}

#discovery-fieldset label:not(legend) {
  padding-bottom: 5px;
}

#discovery-fieldset legend {
  font-weight: bold;
}

#discoveryResults {
  text-align: center;
  font-weight: bold;
  color: var(--link-color);
  margin-right: 40px;
}

#discoveryResults li {
  background-color: var(--background-color);
  border: 1px solid var(--border-color);
  padding: 10px;
  list-style: none;
  margin-bottom: 20px;
}

#map {
  display: grid;
}



/* ### TODO ### Styles for Footer Component */

footer {
  background-color: var(--background-color);
  position: relative;
  padding: 30px;
  margin-top: auto;
  border: 1px solid var(--border-color);
}

/* ### TODO ### Media Queries */

@media (max-width: 900px) {
  
  .col-3,
  .col-5,
  .col-7,
  .col-9 {
    flex: 0 0 100%;
    width: 100%;
  }

  .row {
    margin-left: 0;
    margin-right: 0;
  }

  .main,
  .discovery__wrapper {
    display: grid;
  }

  .discovery {
    padding-left: 0px;
    padding-right: 0px;
  }

  #tag-form {
    padding-right: 0px;
    margin-bottom: 40px;
  }

  #discoveryResults {
    padding: 0px;
    width: 100%;
    margin-bottom: 40px;
  }
}