/*
  File origin: VS1LAB A1b  

  CSS style is BEM. Classes used for CSS, IDs for JavaScript querying (future use).
  CSS variables used for clarity and themability (e.g. through SSR). 
  Inherited box sizing used for ease of including 3rd party content-box components.
*/

/* Global styling */

html {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;

  /* This approach prevents issues with 3rd party content-box components */
  box-sizing: inherit;
}


/* Variables (example: see declaration for "a" below) */

:root {
  --link-color: #00B7FF;
  --background-color: #efefef;
  --border-color: #cdcdcd;
  --gray-color: #666;
}


/* HTML element styles */

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a {
  color: var(--link-color);
}

/* ### TODO ### Styles for other HTML elements */

/* ... your code here ... */

header {
  display: flex;
  flex: 1;
  align-items: center;

  padding: 0 2rem 0 2rem;

  border: 1px solid var(--border-color);
  background-color: var(--background-color);
}

main {
  max-width: 100vw;
  padding: 2rem;
}

fieldset {
  padding: 0.5rem;
}

label {
  display: block;

  margin-bottom: 0.2rem;

  color: var(--gray-color);
}

input {
  display: block;

  height: 1.7rem;
  margin-bottom: 0.7rem;
}

input[type="submit"] {
  margin-bottom: 0;

  border: 1px solid var(--border-color);
  background-color: var(--background-color);
}

footer {
  padding: 1.5rem;
  max-height: 5rem;

  border: 1px solid var(--border-color);
  background-color: var(--background-color);
}


/* Grid styles (no changes required) */

.row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex: 1;
}

.col-1 {
  width: calc(8.33% - 1rem);
}

.col-2 {
  width: calc(16.66% - 1rem);
}

.col-3 {
  width: calc(25% - 1rem);
}

.col-4 {
  width: calc(33.33% - 1rem);
}

.col-5 {
  width: calc(41.66% - 1rem);
}

.col-6 {
  width: calc(50% - 1rem);
}

.col-7 {
  width: calc(58.33% - 1rem);
}

.col-8 {
  width: calc(66.66% - 1rem);
}

.col-9 {
  width: calc(75% - 1rem);
}

.col-10 {
  width: calc(83.33% - 1rem);
}

.col-11 {
  width: calc(91.66% - 1rem);
}

.col-12 {
  width: calc(100% - 1rem);
}


/* ### TODO ### Styles for Header Component */

/* ... your code here ... */

.header__image {
  height: 2.5rem;
}

/* ### TODO ### Styles for Main Component */

/* ... your code here ... */

.main h2 {
  margin-bottom: 0.5rem;
}


/* ### TODO ### Styles for Tagging component */

/* ... your code here ... */

.tagging input {
  width: 90%;
}

/* ### TODO ### Styles for Discovery component */

/* ... your code here ... */

.discovery__search input {
  width: 35%;
}

.discovery__wrapper {
  margin-top: 2rem;
}

.discovery__results {
  display: flex;
  flex-flow: column;
  gap: 0.7rem 0;
  list-style: none;

  height: 100%;
  width: 100%;
}

.discovery__results li {
  padding: 0.5rem;
  min-height: 3rem;

  border: 1px solid var(--border-color);
  color: var(--link-color);
  background-color: var(--background-color);
}

.discovery__map {
  display: flex;
  flex-flow: column wrap;
  align-content: flex-end;

  max-height: 40vh;
}


.discovery__map img {
  display: flex;
  object-fit: contain;
  object-position: right;

  max-width: 100%;
  max-height: 90%;
}

.discovery__map span {
  display: flex;

  max-width: 100%;

  color: var(--gray-color);
}
  

/* ### TODO ### Styles for Footer Component */

/* ... your code here ... */

/* ### TODO ### Media Queries */

/* ... your code here ... */

@media (max-width: 48rem) {

  header {
    padding: 0.5rem 2rem 0.5rem 2rem;
  }

  section, input, .discovery__taglist, .discovery__map {
    min-width: 100%;
  }

  footer {
    padding: 1rem;
    max-height: 4rem;
  }

  .main, .discovery__wrapper {
    flex-direction: column;
  }

  .discovery__title {
    margin-top: 2rem;
  }

  .discovery__taglist {
    margin-bottom: 2rem;
  }

  .discovery__results {
    flex-flow: row wrap;
    justify-content: left;

    gap: 0.7rem 0.7rem;
  }

  .discovery__results li {
    width: 10rem;
    min-height: 3rem;
  }

  .discovery__map {
    flex-wrap: nowrap;

    max-height: 100%;
 }

}

