/*
  File origin: VS1LAB A1b  

  CSS style is BEM. Classes used for CSS, IDs for JavaScript querying (future use).
  CSS variables used for clarity and themability (e.g. through SSR). 
  Inherited box sizing used for ease of including 3rd party content-box components.
*/

/* Global styling */

html {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}


/* Variables */

:root {
  --link-color: #00B7FF;
  --background-color: #efefef;
  --border-color: #cdcdcd;
  --gray-color: #666;
}


/* HTML element styles */

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a {
  color: var(--link-color);
}

/* ### Styles for other HTML elements-- */

h1, h2 {
  margin-bottom: 0.5rem;
}

input, button {
  font-size: 1rem;
  padding: 0.4rem;
  border: 1px solid var(--border-color);
  border-radius: 4px;
}

button {
  background-color: var(--link-color);
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #0090d1;
}


/* Grid styles (no changes required)-- */

.row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex: 1;
}

.col-1 { width: calc(8.33% - 1rem); }
.col-2 { width: calc(16.66% - 1rem); }
.col-3 { width: calc(25% - 1rem); }
.col-4 { width: calc(33.33% - 1rem); }
.col-5 { width: calc(41.66% - 1rem); }
.col-6 { width: calc(50% - 1rem); }
.col-7 { width: calc(58.33% - 1rem); }
.col-8 { width: calc(66.66% - 1rem); }
.col-9 { width: calc(75% - 1rem); }
.col-10 { width: calc(83.33% - 1rem); }
.col-11 { width: calc(91.66% - 1rem); }
.col-12 { width: calc(100% - 1rem); }


/* ### Styles for Header Component -- */

.header {
  background-color: #0078d7;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.header__image {
  height: 40px;
}

.header__navigation a {
  color: white;
  text-decoration: none;
  margin: 0 0.3rem;
}

.header__navigation a:hover {
  text-decoration: underline;
}


/* ### Styles for Main Component */

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: var(--background-color);
  padding: 1rem;
}


/* ### Styles for Tagging component */

.tagging form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background-color: white;
<<<<<<< Updated upstream
  padding: 1rem;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  margin-bottom: 1rem;
}
=======
  display: block;
}

#tag-form {
  /* text-align: center; */
  padding-right: 25px;
}

/* #tag-latitude #tag-longitudie #tag-name #tag-hastag {
  width: 90%;
} */

#tag-fieldset {
  margin-top: 10px;
  padding: 8%;
  display: grid;
}

#tag-fieldset label:not(legend) {
  padding-bottom: 10px;
}



#tag-fieldset #tag-longitude {
  background-color: #b69c9c;
  border: 2px solid lightgrey;
}

#tag-fieldset #tag-latitude {
  background-color: #b69c9c;
  border: 2px solid lightgrey;
}

#tag-fieldset #tag-submit {
  font-weight: bold;
  padding: 10px;
}

#tag-fieldset input:not(#tag-submit) {
  padding: 10px;
  margin-bottom: 15px;
>>>>>>> Stashed changes

}

/* ### Styles for Discovery component */

.discovery {
  background-color: white;
  padding: 1rem;
  border: 1px solid var(--border-color);
  border-radius: 5px;
}

.discovery__wrapper {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

.discovery__taglist {
  flex: 1;
}

.discovery__results li {
  list-style: none;
  background-color: #dfefff;
  border: 1px solid var(--border-color);
  margin-bottom: 0.5rem;
  padding: 0.4rem;
  border-radius: 4px;
}

.discovery__map {
  flex: 2;
  text-align: center;
}


/* ### Styles for Footer Component */

.footer {
  background-color: #0078d7;
  color: white;
  text-align: center;
  padding: 0.5rem;
}


/* ### Media Queries */

@media (max-width: 480px) {
  .discovery__wrapper {
    flex-direction: column;
  }

  .discovery__map,
  .discovery__taglist {
    width: 100%;
  }
}
